<!DOCTYPE html>
<html>
    <head>
        <title>S54 - DCDF</title>
        <script src="/assets/js/general/injectHead.js" defer></script>

        <link rel="stylesheet" href="/assets/css/index/homepage.css">
    </head>
    <body style="opacity: 0">
        <style>
            body {
                opacity: 1 !important;
            }
        </style>

        <div id="navbar"></div>
        <main class="page-content">
            <div class="container-fluid d-flex justify-content-center align-items-center" id="bg-homepage">
            </div>
        </main>
        <div id="footer"></div>
    </body>
</html>