<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>S54 - DCDF</title>
        <!-- BS5 -->
        <script src="assets/js/general/injectBootstrap.js" type="text/javascript" defer></script>

        <!-- Shared Modular Elements -->
        <script src="assets/js/general/injectNavbar.js" type="text/javascript" defer></script>
        <script src="assets/js/general/injectFooter.js" type="text/javascript" defer></script>

        <script src="assets/js/general/injectCustom.js" type="text/javascript" defer></script>

        <!-- Custom -->
        <link href="assets/css/index/homepage.css" rel="stylesheet">
    </head>
    <body>
        <div id="navbar"></div>
        <main class="page-content">
            <div class="container-fluid d-flex justify-content-center align-items-center" id="bg-homepage">
            </div>
        </main>
        <div id="footer"></div>
    </body>
</html>