<!DOCTYPE html>
<html>
    <head>
        <style>
        </style>
        <title>S54 - DCDF</title>
        <script src="/assets/js/general/injectHead.js" async></script>
        <link rel="stylesheet" href="/assets/css/index/homepage.css">
    </head>
    <body>
        <div id="navbar"></div>
        <main class="page-content">
            <div class="container-fluid d-flex justify-content-center align-items-center" id="bg-homepage">
            </div>
        </main>
        <div id="footer"></div>
    </body>
</html>