<!DOCTYPE html>
<html>
    <head>
        <style>
            html{
                visibility: hidden;
                opacity:0;
            }
        </style>
        <title>S54 - DCDF</title>
        <script src="/assets/js/general/injectHead.js" defer></script>
    </head>
    <body>
        <div id="navbar"></div>
        <main class="page-content">
            <div class="container-fluid d-flex justify-content-center align-items-center" id="bg-homepage">
            </div>
        </main>
        <div id="footer"></div>
    </body>
</html>