<!DOCTYPE html>
<html>
    <head>
        <title>S54 - DCDF</title>

        <!-- 1. Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- 2. Preconnect -->
        <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous">

        <!-- 3. Bootstrap CSS -->
        <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" as="style" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">

        <!-- 4. BootStrap JS -->
        <!-- Preload Bootstrap JS -->
        <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" as="script" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous" defer>
        </script>

        <!-- 5. Necessary Styles -->

        <!-- Utils CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/utils/prism.css">
        <link rel="stylesheet" href="/assets/css/utils/icons.css">
        <link rel="stylesheet" href="/assets/css/utils/top_navbar.css">
        <link rel="stylesheet" href="/assets/css/utils/document_preview.css">
        <link rel="stylesheet" href="/assets/css/utils/left_navigation.css">
        <link rel="stylesheet" href="/assets/css/utils/code_preview.css">
        <link rel="stylesheet" href="/assets/css/utils/widths.css">
        <link rel="stylesheet" href="/assets/css/utils/letter_list.css">

        <!-- 6. Necessary Scripts -->

        <!-- Code Highlighting -->
        <script src="/assets/js/general/prism.js"></script>
        <!-- Footer + Navbar -->
        <script src="/assets/js/general/injectNavFooter.js" defer></script>

        <!-- 7. Favicon -->
        <link rel="icon" type="image/x-icon" href="/favicon.ico">

        <!-- Custom Stuff Here -->

        <!-- Custom CSS -->
         
        <!-- Custom JS -->

    </head>
    <body>
        <div id="navbar"></div>
        <main class="page-content">
            <div class="container-fluid d-flex justify-content-center align-items-center" id="bg-homepage">
            </div>
        </main>
        <div id="footer"></div>
    </body>
</html>