<!DOCTYPE html>
<html>
    <head>
        <title>FOP - Tutorial</title>
        <script src="/assets/js/general/preLoader.js" defer></script>
        <script src="/assets/js/general/injectHead.js" defer></script>
    </head>
    <body>
        <!-- Preloader overlay -->
        <div id="preloader"
            style="position: fixed; inset: 0; background: white; display:flex; justify-content:center; align-items:center; z-index:2000;">
            <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        
        <div id="navbar"></div>
        <main class="page-content">
            <div class="container-lg">
                <h1>Hello</h1>
            </div>
        </main>
        <div id="footer"></div>
    </body>
</html>