<!DOCTYPE html>
<html>
    <head>
        <style>
            html{
                visibility: hidden;
                opacity:0;
            }
        </style>
        <title>FOP - Tutorial</title>
        <script src="/assets/js/general/injectHead.js" defer></script>
    </head>
    <body>
        <div id="navbar"></div>
        <main class="page-content">
            <div class="container-lg">
                <h1>Hello</h1>
            </div>
        </main>
        <div id="footer"></div>
    </body>
</html>