/* All the basic required styling */

html {
    visibility: visible;
    opacity: 1;
}

html, body {
  height: 100%;
  margin: 0;
}

.page-content {
    flex: 1 0 auto;
    /* grow and shrink as needed */
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* For Dark Mode */
body.bs-dark-theme {
    background-color: #212529 !important; /* Bootstrap dark background */
}

footer {
    margin-top: auto;
    /* push footer to bottom if content is short */
}